# zram swap (+ optional writeback "memory extension"). Stock does the same
# from init.extend_reclaim.rc with fstab.zram_wb.
on property:sys.boot_completed=1
    # System server manages zram writeback limits
    chown root system /sys/block/zram0/writeback_limit
    chmod 0664 /sys/block/zram0/writeback_limit
    chown root system /sys/block/zram0/writeback_limit_enable
    chmod 0664 /sys/block/zram0/writeback_limit_enable

    # System server triggers extend reclaim
    chown root system /sys/kernel/extend_reclaim/reclaim
    chmod 0664 /sys/kernel/extend_reclaim/reclaim

    swapon_all /vendor/etc/fstab.zram.${persist.sys.tb520fu.vram_gb:-0}
